body {
    font-family: Rajdhani, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #000000; /* Grey/blue background for the box */
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 420px;
    width: 700px;
}

button {
    background-color: #000000; /* Medium blue/gray for buttons */
    color: #edf2f7; /* Light text color */
    border: white 2px solid;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0;
    cursor: pointer;
    margin: 10px auto; /* Center the button */
    transition: background-color 0.3s ease;
    display: block; /* Ensure buttons are on their own row */
    width: 100%; /* Full width for larger buttons */
    max-width: 230px; /* Limit the width */
    text-align: center;
    font-variant: all-petite-caps;
}

button.major {
    height: 3.5em;
}

button.small {
    border: white 1px solid;
    font-size: 0.9rem; /* Smaller font size for smaller buttons */
    padding: 8px 16px;
    max-width: 170px; /* Smaller width for smaller buttons */
}

button:hover {
    transform: scale(1.1); /* Grow the button by 10% */
    transition: transform 0.2s ease, background-color 0.3s ease; /* Smooth transition */
}

button:disabled {
    color: #a0aec0; /* Muted gray for disabled buttons */
    border-color: #a0aec0;
    cursor: not-allowed;
}

.button-group {
    display: flex;
    justify-content: center; /* Center the group */
    gap: 10px; /* Space between buttons */
}

a {
    color: #a0aec0; /* Light blue for links */
}

#error {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    color: #e53e3e; /* Red for error messages */
}

.user {
    color: white;
}

.footer {
    margin-top: 1em;
}