<!doctype html>
<html lang="en">
<head>
    <title>SiwE - Error</title>
    <link rel="stylesheet" href="css/siwe.css"/>
</head>
<body>
<div class="container">
    <img style="width: 100%" src="images/Gemini_Generated_Image_6pqg396pqg396pqg.png"/>
    <% if (error?.denialMessage) { %>
        <h2 id="error" class="error">Access Denied: <%= error.denialMessage %></h2>
    <% } else { %>
        <h2 id="error" class="error">Access denied.</h2>
    <% } %>
    <button class="small" onclick="window.location = '/'">Back</button>
    <div class="footer">
        <a class="footer-left" href="https://github.com/bozemanpass/siwe-express-example">GitHub Repository</a>
        <a class="footer-right" href="https://eips.ethereum.org/EIPS/eip-4361">EIP-4361</a>
    </div>
    <a href="https://www.bozemanpass.com"><img src="images/bpi.png" class="corner-logo bottom-left" alt="BPI Logo" /></a>
    <a href="https://github.com/bozemanpass/stack"><img src="images/stack.png" class="corner-logo bottom-right" alt="Stack Logo" /></a>
</div>
</body>
</html>
