<!doctype html>
<html lang="en">
<head>
    <title>SiwE - Error</title>
    <link rel="stylesheet" href="css/siwe.css"/>
</head>
<body>
<div class="container">
    <img style="width: 100%" src="images/Gemini_Generated_Image_6pqg396pqg396pqg.png"/>
    <% if (error?.name == "whitelist") { %>
        <h2 id="error" class="error">Access Denied: This address has not whitelisted by <%= whitelistContractAddress %>.</h2>
    <% } else if (error?.name == "minBalance") { %>
        <h2 id="error" class="error">Access Denied: This address does not have the minimum required balance.</h2>
    <% } else { %>
        <h2 id="error" class="error">Access denied.</h2>
    <% } %>
    <button class="small" onclick="window.location = '/'">Back</button>
    <div class="footer">
        <a href="https://eips.ethereum.org/EIPS/eip-4361">EIP-4361</a>
    </div>
</div>
</body>
</html>