<!doctype html>
<html lang="en">
<head>
    <script type="module">
        import { prepareMessage } from 'https://cdn.jsdelivr.net/npm/simple-siwe@0.1.4/+esm'

        function error(msg) {
            document.querySelector("#error").innerText = msg;
        }

        async function getEthAccount() {
            // Find our Ethereum accounts.
            const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
            if (!accounts.length) {
                error("No accounts found!");
                return;
            }

            // The first account is the one currently selected in MetaMask.
            return accounts[0];
        }

        async function siweLogin() {
            const { ethereum } = window;
            if (!ethereum) {
                error("Please install MetaMask!");
                return;
            }

            // Get the current, connected account.
            const account = await getEthAccount();

            // Get csrf to make Auth.js happy
            const { csrfToken } = await fetch("/siwe/auth/csrf").then(res => res.json());

            // Get nonce to make us happy
            const { nonce } = await fetch("/siwe/nonce").then(res => res.json());

            // Prepare the message
            const rawMessage = {
                domain: window.location.host,
                address: account,
                statement: 'This message is used to sign in to siwe-express-example',
                uri: window.location.origin,
                version: '1.0',
                chainId: ethereum.networkVersion,
                nonce: nonce,
                issuedAt: new Date().toISOString()
            };

            // Sign the message
            const message = prepareMessage(rawMessage);
            const signature = await ethereum.request({
                method: 'personal_sign',
                params: [ message, account ]
            });

            // Send the signed message to the server
            const result = await fetch("/siwe/auth/callback/credentials", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    csrfToken,
                    message,
                    signature
                })
            });

            if (result.status !== 200) {
                // Show a specific error page if we were told about it, else generic.
                window.location = (result.url.indexOf("/siwe/auth/error") >= 0) ? result.url : "/siwe/auth/error";
            } else if (result.url.indexOf("error=CredentialsSignin") >= 0) {
                // When authorize() returns null the status can still be 200, but for our purposes it is still an error.
                window.location = "/siwe/auth/error";
            } else {
                // Reload the current page
                window.location.reload();
            }
        }

        async function siweLogout() {
            // Get csrf to make Auth.js happy
            const { csrfToken } = await fetch("/siwe/auth/csrf").then(res => res.json());

            // Sign out
            const result = await fetch("/siwe/auth/signout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({csrfToken})
                }
            );

            if (result.status !== 200) {
                // Show a specific error page if we were told about it, else generic.
                window.location = (result.url.indexOf("/siwe/auth/error") >= 0) ? result.url : "/siwe/auth/error";
            } else {
                // Reload the current page
                window.location.reload();
            }
        }

        // These functions are used to whitelist and fund the address.  They are purely to make the demo
        // easier to use.  In any real application you would not want to do this, as they are completely insecure.
        async function whitelistAddress(event) {
            document.querySelector("#whitelist").disabled = true;
            const address = await getEthAccount();
            await fetch("/faucet/whitelist", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({address})
            });
            document.querySelector("#whitelist").remove()
        }

        async function blacklistAddress() {
            document.querySelector("#blacklist").disabled = true;
            const address = await getEthAccount();
            await fetch("/faucet/blacklist", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({address})
            });
            await siweLogout();
        }

        async function faucet() {
            document.querySelector("#faucet").disabled = true;
            const address = await getEthAccount();
            await fetch("/faucet/fund", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({address})
            });
            document.querySelector("#faucet").remove();
        }

        // Attach event listeners to buttons.
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector('#login')?.addEventListener("click", siweLogin);
            document.querySelector('#logout')?.addEventListener("click", siweLogout);
            document.querySelector('#whitelist')?.addEventListener("click", whitelistAddress);
            document.querySelector('#blacklist')?.addEventListener("click", blacklistAddress);
            document.querySelector('#faucet')?.addEventListener("click", faucet);
        });
    </script>
    <title></title>
</head>
<body>
<h1 id="error" style="color: red;"></h1>
<% if (user) { %>
    <p>The current user is: <%= user %></p>
    <button id="logout">Sign-out</button>
    <button id="blacklist">Blacklist Address</button>
<% } else { %>
    <button id="login">Sign-in with Ethereum</button>
    <button id="whitelist">Whitelist Address</button>
    <button id="faucet">Fund Address</button>
<% } %>
</body>
</html>