<!doctype html>
<html lang="en">
<head>
</head>
<body>
<h1 id="error"></h1>
<% if (user) { %>
    You are allowed to view this page.
<% } else { %>
    You are not allowed to view this page.
<% } %>
</body>
</html>